# emacs
alias oe='open -a Emacs'

# git aliases
# common
alias gc='git commit'
alias gcm='git commit -m'
alias gm='git merge --no-ff'
alias gd='git diff'
alias gd0='git diff -U0'
alias gdc='git diff --cached'
alias gdev='git diff $(gdevb).. --'
alias gs='git status'

alias ga='git add'
alias gap='git add . -p'

alias gx='git checkout'
alias gxd='git checkout $(gdevb)'
alias gxm='git checkout main'
alias gxl='git checkout -'
alias gxb='git checkout -b'

alias gb='git branch'
alias gdevb='git branch | grep "^  develop"'
alias gbm='git branch -m'
alias gbd='git branch -d'
alias gbD='git branch -D'
alias gl="git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative"

alias gr='git rebase'
alias grd='git rebase $(gdevb)'
alias grm='git rebase main'
alias grc='git rebase --continue'
alias grs='git rebase --skip'
alias gra='git rebase --abort'

alias gbl='git blame -L'

alias gfo='git fetch origin'

# git rebase this on develop
alias grtd='gxd && gpld && gxl && grd'

alias gst='git stash'
alias gstp='git stash pop'

# tags
alias gt='git tag -a'
alias gtd='git tag -d'
alias gpot='git push origin --tags'

# complex
alias grh='git reset HEAD'
alias grha='git reset HEAD *'

alias gpo='git push origin HEAD'
alias gpom='git push origin main'
alias gpl='git pull origin'
alias gplm='git pull origin main'
alias gpld='git pull origin $(gdevb)'

# be careful
alias gops='git commit --amend --no-edit'
alias gundo='git reset --soft HEAD~'
alias gdont='ga . && gops && gpo -f'
alias gsave='ga . && gcm save'

# Capistrano
alias cpd='cap production deploy'
alias cpdr='cap production deploy:restart'
alias cpsr='cap production sidekiq:restart'
alias cpss='cap production sidekiq:stop'

# general aliases
alias a='c && ack'
alias s='c && ack -Q'
alias c='clear'
alias l='ls -la'
alias o='open'
alias pag='ps aux | grep'
alias ip="ifconfig | grep 192"
alias opf="o ~/Music/_/GP/Tabs/"
alias dv="viddl-rb"

alias size='du -sh'
alias rlb='. ~/.zshrc'
alias new_fire='/Applications/Firefox.app/Contents/MacOS/firefox -no-remote -ProfileManager > /dev/null'

# heroku
alias gphm='git push heroku master'
alias gpsm='git push staging main'
alias gpall='gpo && gphm'

alias hr='heroku run'
alias hrdr='heroku run rake db:rollback'
alias hrdm='heroku run rake db:migrate'
alias hrds='heroku run rake db:seed'
alias hrc='heroku run rails console'
alias hb='heroku run bash'

# rails
alias bes='bundle exec sidekiq'
alias rc='rails console'
alias rdm='rake db:migrate'
alias rdr='rake db:rollback'
alias rdrm='rake db:rollback && rake db:migrate'
alias rds='rake db:seed'
alias rgdm='rails g data_migration'
alias rgmr='rails g migration'
alias rjc='rake jobs:clear'
alias rjw='rake jobs:work'
alias rjwo='rake jobs:workoff'
alias rr='rubocop -A --display-cop-names'
alias wpnd='wp && ga . && gcm wp && gpo && cpd'
alias yibw='yarn install && ./bin/webpack-dev-server'

alias t='c && rspec'
alias td='c && rspec --order defined --format documentation'
alias ct='c && cucumber'
alias tuf='t spec/models spec/requests spec/jobs spec/services spec/controllers'

alias rs='rails server'
alias rs1='rails server -p 3001'
alias rs2='rails server -p 3002'
alias rs3='rails server -p 3003'
alias rs4='rails server -p 3004'
alias rs5='rails server -p 3005'
alias rst='rails server --environment=test'

alias fs='bundle exec foreman start'
alias pt='c && rake parallel:spec'
alias rdd='rake dev:deploy'
alias rpp='rake parallel:prepare'

alias rake='noglob rake'

# node
alias yrd='yarn run dev'
alias ywb='yarn webpack --config config/development/webpack.js --mode=development --watch'
alias yef='yarn eslint --fix'

# NGrok
alias mgrok='ngrok http 3000 --subdomain=fedeaux'
alias nrgrok='ngrok http 3000 --subdomain=naradio'
alias wgrok='ngrok http 3000 --subdomain=wordable-fedeaux'
alias ddgrok='ngrok http http://dodo.lvh.me:3000/ --subdomain=dodo'

# other
alias dcu='docker-compose up'
alias rfa='redis-cli flushall'

# python
alias python='python3'
alias pip='pip3'

# commands
alias kg='ruby ~/configuration/commands/kill_ghost_processes.rb'

# Android
export ANDROID_HOME=$HOME/Library/Android/sdk
export PATH=$PATH:$ANDROID_HOME/emulator
export PATH=$PATH:$ANDROID_HOME/tools
export PATH=$PATH:$ANDROID_HOME/tools/bin
export PATH=$PATH:$ANDROID_HOME/platform-tools

# Stocker
alias eh="ruby ~/configuration/tools/stocker/entry_helper.rb"